
@font-face {
	font-family: "Maiandra GD"; 
	src: url("font/Maiandra GD.eot");
	src: url("font/Maiandra GD.woff") format("woff")
	;
}

body {
    font-family: 'Maiandra GD', tahoma, helvetica, sans-serif;
    background: rgba(186,223,185,0.62);
    color: #341a0c;
}

h2 { text-align: center;}

div.top {
	text-align: center;
}
div.top * {
	margin: unset;
}
div.top p {
	font-style: italic;
}

div.topics {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
div.topics > * {
	max-width: 20em;
	margin: 0em;
}
div.topics > * {
    display: inline-flex;
    flex-direction: column;
    padding: .4em;
    margin: .4em;
    box-shadow: 0px 0px 10px;
	background: white;
	text-align: center;
	color: black;
}

div.topics figure > * {
	width: inherit;
	max-width: inherit;
	padding: 0em;
	margin: 0em;
}

div.topics > figure > figure + figure {
	xxmargin: .2em 0em .2em 0em;
	xpadding: .1em 0em .2em 0em;
	display: none;
	border: 5px solid red;
}
div.topics > figure > figcaption {
	xcolor: black;
	xbackground: rgba(186,223,185,0.62);
	xcolor: white;
	xbackground: #164e14;
	color: #164e14;
	xfont-weight: bolder;
	font-size: larger;
}
xdiv.topics > figure > figcaption::after {
	content: "";
	display: block;
	padding: .1em 0em .1em 0em;
	margin: 0em 0em .1em 0em;
	background: #164e14;
}

div.topics > figure {}

h1 { 
    font-family: 'Maiandra GD', tahoma, helvetica, sans-serif;
    font-style: normal;
    font-size: 300%; 
    color: #164e14; 
    clear: both;
}

a:link, a:visited { 
    text-decoration: none;
    color: #341a0c;
}
a:hover {
    text-decoration: underline;
}

*:hover > .explain {
	visibility: visible;
	transform: rotate(-5deg);
    transition: transform .5s ease-in-out;  
}
.explain {
	visibility: hidden;
	display: block;
	font-weight: bold;
	position: absolute;

    margin: 0pt 0pt 0pt -2em;
    border-style: solid;
    border-color: rgba(49, 132, 74, 0.0);
    border: 1em 5em;
    border-width: 0em 2em;
    border-radius: 2em;

	color: white;
	background: rgba(49, 132, 74, 0.8);
	z-index: 1;
	width: inherit;
	cursor:pointer;
}


div.fb-iframe {
	width: 100%;
    justify-content: center;
}
div.fb-iframe iframe {
	width: inherit;
	height: 800px;
}



.hardbreak
{
word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.invisible {
    display: none;
}

hr { clear: both; }

