
body {
    font-family: tahoma, helvetica, sans-serif;
    background: rgba(186,223,185,0.62);
    color: #341a0c;
}
h1 { 
    font-style: normal;
    font-size: 300%; 
    color: #164e14; 
    clear: both;
}

a:link, a:visited { 
    text-decoration: none;
    color: #341a0c;
}
a:hover {
    text-decoration: underline;
}

.even100pct {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.thumb img {
    width: inherit;
}
.thumb video {
    width: inherit;
}

*:hover > .tooltip {
	visibility: visible;
	transform: rotate(5deg);
    transition: transform .5s ease-in-out;  
}
.tooltip {
	visibility: hidden;
	display: block;
	position: absolute;
	background: rgba(200, 200, 0, 0.8);
	
	border-radius: .5em;
	padding: .5em;
	z-index: 1;
	width: inherit;
	cursor:pointer;
	
}


.thumb figure {
    width: 20em;
	max-width: 80%;
}

div.gallery {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

figure:hover {
}

figure {
    display: inline-flex;
    flex-direction: column;
    padding: .4em;
    margin: .4em;
    box-shadow: 0px 0px 10px;
    background: rgba(180,200,180,90); 
}
figcaption {
    text-align: center;
}

.hardbreak
{
word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.invisible {
    display: none;
}

hr { clear: both; }

