:root {
	--dark0: #164e14;  
	--dark0a: #164e14ee;  
	--dark0b: #164e1411;  
    --visited: #341a0c;
    --light1: rgba(186,223,185);
    --light1a: rgba(186,223,185,0.62);
    --light0: rgba(200,255,200);
    --active-display: block;
    --active-opacity: 1;
    --active-visibilty: visible;
    --inactive-display: block;
    --inactive-opacity: 1;
    --inactive-visibilty: visible;
    --figure-inactive-scale: 1.05;
}


@font-face {
	font-family: "Maiandra GD"; 
	src: url("font/Maiandra GD.eot");
	src: url("font/Maiandra GD.woff") format("woff")
	;
}

@font-face {
  font-family: "BradleyHandITC";
  src: url("font/bradhitc.eot"); /* IE9 Compat Modes */
  src: url("font/bradhitc.eot?#iefix") format("embedded-opentype"),
    url("font/bradhitc.otf") format("opentype"),
    url("font/bradhitc.svg") format("svg"),
    url("font/bradhitc.ttf") format("truetype"),
    url("font/bradhitc.woff") format("woff"),
    url("fontbradhitc.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarckScript-Regular";
  src: url("font/MarckScript-Regular.eot");
  src: url("font/MarckScript-Regular.eot?#iefix") format("embedded-opentype"),
    url("font/MarckScript-Regular.otf") format("opentype"),
    url("font/MarckScript-Regular.svg") format("svg"),
    url("font/MarckScript-Regular.ttf") format("truetype"),
    url("font/MarckScript-Regular.woff") format("woff"),
    url("font/MarckScript-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*************** Topics *******************/

/* .topics is a flex with wrapping */
.topics { /* IE compat */
	display: flex;
	flex-flow: row;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}
.topics > *  { /* IE compat */
	display: -ms-grid;
	display: block;
	min-width: inherit;
	max-width: 20em;
    margin: .5em;
    padding: .5em;
}

@supports(display: grid) {
	.topics {
	  justify-content: center;
	  align-items: stretch;
	  grid-template-columns: repeat(auto-fill,minmax(10em, 20em));
	  grid-auto-rows: max-content;
	  justify-content: center;
	  align-items: top;
	  display: grid;
	  gap: 1em;
	}
	.topics > * {
		margin: 0em;
		padding: 0em;
	}
}

.topics > * {
	background: #164e14;
    color: white;
    border: .5em solid #164e14;
}


.topics > * > * {
	color: inherit;	
	padding: 0em;
	margin: 0em;
	xborder: 1px solid red;
}
.topics > * > h2 {
	min-height: 2.5em;
	font-weight: bold;
	font-size: 200%;
}
/* Images and video thing they have their own size, but they should not */
.topics figure > img:first-of-type, .topics figure > video:first-of-type {
	width: 100%;
}
.topics figure {
   	max-width: 100%;	
    box-shadow: .1em .2em .5em .4em #0005;
    background: white;
    color: black;
	margin: 1em 1em;
   	border: 1px solid #ccc;
}

.swap > * > figure:first-of-type {
	display: grid;
	min-height: 250px;
}
.swap > * > figure:first-of-type {
}
.swap { 
	display: grid;
}
.swap > li {
	grid-row: 1;
	grid-column: 1;
}
.swap > li {
	display: none;
	display: var(--inactive-display);
	opacity: var(--inactive-opacity);
	visibility: var(--inactive-visibilty);
}
.swap > li:first-of-type {
	display: block;
	display: var(--active-display);
	opacity: var(--active-opacity);
	visibility: var(--active-visibilty);
	z-index: 1;
}
.swap > li.inactive {
	display: none;
	display: var(--inactive-display);
	opacity: var(--inactive-opacity);
	visibility: var(--inactive-visibilty);
}
.swap > li.active {
	display: block;
	display: var(--active-display);
	opacity: var(--active-opacity);
	visibility: var(--active-visibilty);
	transition-property: opacity transform;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
	z-index: 1;
}
.swap li.active:nth-child(n) figure {
    transform: rotate(0deg) scale(var(--figure-active-scale));
}
.swap li:nth-child(2n) figure {
    transform: rotate(-2deg) scale(var(--figure-inactive-scale));
}
.swap li:nth-child(3n) figure {
    transform: rotate(2deg) scale(var(--figure-inactive-scale));
}
.swap li:nth-child(4n) figure {
    transform: rotate(-4deg) scale(var(--figure-inactive-scale));
}
.swap li:nth-child(5n) figure {
    transform: rotate(4deg) scale(var(--figure-inactive-scale));
}

/***** Content of topic cards */

.topics > * > ul > li > figure > figcaption {
    /* font-family: "Maiandra GD", "BradleyHandITC", "MarckScript-Regular"; */
    font-family: "BradleyHandITC", "MarckScript-Regular", italic;
    font-weight: bolder;
    text-align: center;	
}


/**************** General markup **********/

body {
    font-family: 'Maiandra GD', tahoma, helvetica, sans-serif;
    background: rgba(186,223,185,0.62);
    color: #341a0c;
}

h1 { 
	color: #164e14;
    font-size: 300%; 
    clear: both;
    margin: 0em;
}

h2 {
	color: #164e14;
    text-align: center;
}

h1 + p {
	margin: .5em 0em;
	font-style: italic;
}

.bottom {
	margin: auto;
	max-width: 30em;
	text-align: center;
	clear: both;
}

a:link, a:visited { 
    text-decoration: none;
    color: #341a0c;
}
a:hover {
    text-decoration: underline;
}


.hardbreak
{
word-wrap: break-word; /* Internet Explorer 5.5+ */
}
hr { clear: both; }

/************* Hovering explanations ******/

*:hover > .explain {
	visibility: visible;
	transform: rotate(-5deg);
    transition: transform .5s ease-in-out;  
}
.explain {
	visibility: hidden;
	display: block;
	font-weight: bold;
	position: absolute;

    margin: 0pt 0pt 0pt -2em;
    border-style: solid;
    border-color: rgba(49, 132, 74, 0.0);
    border: 1em 5em;
    border-width: 0em 2em;
    border-radius: 2em;

	color: white;
	background: rgba(49, 132, 74, 0.8);
	z-index: 1;
	width: inherit;
	cursor:pointer;
}

/************* Credit **********/
/* Hidden, and invisible by default */
img:hover ~ .img-credit, img:active ~ .img-credit {
	opacity: 0;
}
.img-credit {
    width: 100%;
    height: 0em;
    margin: 0em;
    padding: 0em;
	font-size: 75%;
    color: #ddd;
    position: relative;
    bottom: 1.6em;
    right: .2em;
    font-family: sans-serif;
    font-style: normal;
    text-align: right;
    text-shadow: rgba(0,0,0,.8) 1px 1px 0em, rgba(0,0,0,1) 0px 0px .5em;
}
.img-credit {
	opacity: 1;
    transition: opacity .5s, transform .2s linear;
    z-index: 0;
}
.img-credit::before {
	content: "foto: ";
}


/*************** Special facebook stuff ****************/
.fb-iframe {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 800px;
	max-width: 100%;
	margin: auto;
	/* transform: scale(1); */
}

.fb-iframe iframe {
	border: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 500px;
	height: 100%;
	transform-origin: 0% 0%;
}

/*********** GIT stuff *****************/

#git-id {
	font-size: 50%;
	opacity: .5;
	position: fixed;
	bottom: 0%;
	elft: 0%;
	color: gray;
}

#git-id::after {
	content: " theme.css=$Id$"
}
